@model IEnumerable<WebAPI.Models.Work>

@{
    ViewData["Title"] = "WorkIndex";
}

<center>
    <div>
        <h1>Index</h1>
        <input id="But1" type="button" value="輸入資料" onclick="location.href='https://localhost:44327/Works/Input'" style="width:240px;height:80px;font-size:40px;"/>
        <input id="But2" type="button" value="查詢資料" onclick="location.href='https://localhost:44327/Works/Search'" style="width:240px;height:80px;font-size:40px;"/>
    </div>
</center>